[submodule "submodules/frontend"]
	path = submodules/frontend
	url = https://github.com/TSVAISolutions/pms-frontend.git
[submodule "submodules/backend"]
	path = submodules/backend
	url = https://github.com/TSVAISolutions/pms-backend.git
[submodule "submodules/platform"]
	path = submodules/platform
	url = https://github.com/TSVAISolutions/pms-platform.git
